@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#3f5efb,#fc466b);
    background-image: url(imge.jpg);
    background-repeat: no-repeat;

}
form{
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37) ;
    border-radius: 30px;
    border-left: 1px solid rgba(255, 255, 255, .3) ;
    border-top: 1px solid rgba(255, 255, 255, .3);
}
form ::before{
    content: '';
    position: absolute;
    bottom: 3%;
    right: 28%;
    width: 200px;
    background: magenta;
    border-radius: 50%;
    z-index: -1;
    opacity: -8;
}
form ::after{
    content: '';
    position: absolute;
    top: 3%;
    left: 28%;
    width: 200px;
    background: magenta;
    border-radius: 50%;
    z-index: -1;
    opacity: -8;
}
h1{
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    letter-spacing: 3px;
    margin-bottom: 5%;
    opacity: .7;
}
label{
    font-size: 20px;
    color: white;
    margin-left: 10%;
    opacity: .8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}
input{
    width:80%;
    margin: 5% auto;
    margin-bottom: 8%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    opacity: .8;
    cursor: text;
}
a{
    width: 50%;
    margin: 3% auto;
    color: white;
    font-size: 15px;
    opacity: .7;
    background: rgba(255, 255, 255, 0.06);
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 5px rgba(31, 38, 135, .37);
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    cursor: pointer;
}
a{
    font-size: 12px;
    text-align: center;
    color: white;
    opacity: .7;
}